<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Chủ</title>
  <!-- Liên kết đến Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container">
  <h1 class="text-center mt-5">Trang Chủ</h1>
  <div class="d-flex justify-content-center mt-4">
    <ul class="list-group w-50">
      <li class="list-group-item text-center">
        <a href="/job/company-id-form" class="btn btn-primary btn-block">Công Ty</a>
      </li>
      <li class="list-group-item text-center">
        <a href="/job/candidate/skills" class="btn btn-secondary btn-block">Ứng Viên</a>
      </li>


    </ul>
  </div>
</div>

<!-- Liên kết đến Bootstrap JavaScript và các thư viện phụ thuộc -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
